@import '/src/app/sass/main.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    margin-top: 2.5rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 10rem;
   
    &--link {
        color: $primary-color;
        text-decoration: none;
        display: inline-block;
        position: relative;
        &--focus {
            color: $primary-color;
            text-decoration: underline;
        }
    } 
    &--link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary-color;
        transform-origin: bottom right;
        transition: transform 0.20s ease-out;
    }
    &--link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.header__nav--link::after {
       
  }
  
  .hover-underline-animation:hover::after {
    
  }