@import '/src/app/sass/main.scss';


.container__collapse {
    max-width: 900px;
    margin: auto;
    width: 100%;
    margin-top: 2rem;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 5px;
        background-color: $primary-color;
        color: white;
        height: 3rem;
    }
    &__items {
        position: relative;
        top: -10px;
        z-index: -2;
        background-color: $secondary-color;
        margin: auto;
        width: 100%;
        border-radius: $radius-small;
        padding-bottom: 1rem;
        padding-top: 2rem;
        &--equipments {
            margin: 0;
            margin-bottom: 0.3rem;
            color: $primary-color;
        }

        &--equipments, &--text {
            margin-top: 0;
            padding-left: 1rem;
        }

        &--text {
            
            color: $primary-color;
        }
    }
}

.collapse--margin {
    margin-right: 2rem;
}