@import "../../sass/main.scss";

.container__star {
    &--starColor {
        color: $primary-color;
        margin-right: 0.5rem;
    }
    &--starGrey {
        color: #E3E3E3;
        margin-right: 0.5rem;
    }
}