@import '/src/app/sass/main.scss';

.banniere {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 3rem;
    &__image {
        height: 223px;
        width: 94%;
        max-width: 1240px;
        object-fit: cover;
        border-radius: $radius-large;
        filter: brightness(70%);
    }

    &__text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }
}


@media screen and (max-width: 500px) {
    .banniere {
        &__image {
            height: 133px;
            border-radius: $radius-medium;
        }
        &__text {
            top: 10%;
            left: 8%;
            text-align: initial;
            transform: none;
            max-width: 222px;
            
        }
    }

    .apropo {
        height: 223px;
    }
}