.container__apropos {
    margin-bottom: 8rem;
    

    &__collapse {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media screen and (max-width: 500px) { 
    .container__apropos {
        margin-bottom: 11rem;
    }
}
